* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}


/* Header */

.header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.header h2 {
    font-size: 28px;
    text-align: center;
    color: azure;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 10px;
}


/* Form */

.form {
    margin-bottom: 30px;
    text-align: center;
}

.form input[type=text] {
    border: 2px solid #666;
    width: 500px;
}

.form input[type=submit] {
    border: 1px solid #666;
    padding: 2px 13px;
    border-radius: 4px;
}


/* InfoBox */

.info {
    margin-bottom: 30px;
}